<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>base.html</header>
    <!-- ここに画像を表示させて、横幅を300pxに変更してください(style.css) -->
    <img src="/static/img/photo.jpg" alt="">
    {% block content %}
    {% endblock %}
    <footer>江別13期&オンライン21期</footer>

    <style>
        
    </style>
</body>
</html>