{% extends "base.html" %}
{% block content %}

<h1>タスク一覧ページ</h1>

<h2>{{user_name}}さんおかえりなさい</h2>

<table border="1">
    <!-- pythonからtask_listを受け取る -->
    <!-- リストの数だけループする -->
    {% for item in task_list%}
    <tr>
        <td>{{item["id"]}}</td>
        <td>{{item["task"]}}</td>
        <td><a href="/edit/{{item['id']}}">編集</a></td>
        <td><a href="/del/{{item['id']}}">削除</a></td>
    </tr>
    {% endfor %}
</table>

<a href="/add">タスクの追加</a>
<a href="/logout">ログアウト</a>

{% endblock %}